/*
* Fonts
* font-family: 'DM Sans', sans-serif;
* font-family: 'Inter', sans-serif;
*/

/*

1. Posicionamiento --> static, absolute, relative, fixed
2. Modelo de caja (Box model) --> margin, border, padding, content
3. Tipografía --> tipos, tamaños de fuente, etc
4. Estilos visuales --> box-shadow, border-radius, gradient, etc
5. Otros --> reglas CSS y más
*/
:root {
--bitcoin-orange: #F7931A;
--soft-orange: #FFE9D4;
--secondary-blue: #1A9AF7;
--soft-blue: #E7F5FF;
--warm-black: #201E1C;
--warm-black-1: #282623;
--gray: #BABABA;
--off-white: #FAF8F7;
--just-white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 32rem;
    height: 33.4rem;
    text-align: center;
    background: linear-gradient(207.8deg, var(--warm-black-1) 16.69%, var(--bitcoin-orange) 100%);
}

.header__logo {
    width: 15.1rem;
    height: 2.4rem;
    margin-top: 6rem;
}

.header__title-container {
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    height: 21.8rem;
    margin-top: 5rem;
}

.header__title {
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 700;
    color: var(--just-white);
}

.header__subtitle {
    margin-top: 2.5rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: var(--soft-orange);
}

.header__button {
    position: absolute;
    top: 31rem;
    left: calc(50% - 115px);
    z-index: 1;
    display: flex;
    align-items: center;
    height: 4.8rem;
    width: 22.9rem;
    padding: 1.5rem;
    background-color: var(--off-white);
    color: var(--warm-black);
    box-shadow: 0 4px 8px var(--gray);
    border-radius: .4rem;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
}

.header__button span {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-left: 10px;
    background-image: url('./assets/icons/mdi_keyboard_arrow_down.svg');
    background-position: center;
}

main {
    min-width: 320px;
}
/** rates section (section 2) **/
.rates-section {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 55px;
    background-color: var(--off-white);
}

.rates-section__image {
    width: 195px;
    height: 195px;
    background-image: url('/assets/icons/Bitcoin.svg');
}

.rates-section__title {
    margin: 3rem 0 2rem 0;
    width: 80%;
    font-size: 2rem;
    text-align: center;
}

.rates-section__description {
    width: 90%;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    color: #757575;
}

.stats {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
}

.stats__title {
    color: var(--bitcoin-orange);
    font-size: 1.8rem;
    font-weight: 700;
    padding-left: 40px;
}

.stats-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 3px;
}

.stats-container {
    display: flex;
    flex-direction: column;
}

.stats-table {
    display: flex;
    min-width: 230px;
    max-width: 270px;
    flex-direction: column;
    margin-top: 6px;
    border-radius: 10px;
    background-color: var(--just-white);
}

.stats-table__row {
    display: flex;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    border-bottom: 1px solid #FAF8F8;
}

.stats-table__row:last-child {
    border-bottom: none;
}

.stats-table__coin {
    color: #B5B0BA;
    padding: 1rem;
    flex: 1 1 0;
    width: 50%;
}

.stats-table__price {
    padding: 1rem;
    color: #757575;
    border-left: 1px solid #FAF8F8;
    flex: 1 1 0;
    width: 50%;
}

.stats-table__trend {
    padding: 1rem 1.2rem 1rem 1.2rem;
}

.stats-table__trend {
    width: 20px;
    padding: 10px;
    margin: 0 15px;
    background-repeat: no-repeat;
    background-position: center;
}

.stats-table__trend--down {
    background-image: url('/assets/icons/trending-down-1.svg');
}

.stats-table__trend--up {
    background-image: url('/assets/icons/trending-up-1.svg');
}

.stats-info__arrow {
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
}

.arrow--rigth {
    background-image: url('/assets/icons/mdi_keyboard_arrow_down.svg');
    transform: rotate(-90deg);
}

.stats__update-info {
    align-self: center;
    padding: 10px 10px;
    margin-top: 20px;
    height: 40px;
    width: 175px;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    background-color: var(--soft-orange);
}

.rates-section__icon {
    position: absolute;
    bottom: -11px;
    background-image: url('/assets/images/betabit-only-logo.svg');
    width: 41px;
    height: 24px;
}

.stats__title--blue {
    color: var(--secondary-blue);
}

.stats__update-info--blue {
    background-color: var(--soft-blue);
}

.arrow--left {
    background-image: url('/assets/icons/mdi_keyboard_arrow_down.svg');
    transform: rotate(90deg);
}


/** seccion - service-features **/
.service-features {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding-top: 65px;
    background-color: var(--warm-black);
}

.features-header {
    max-width: 280px;
    text-align: center;
}

.features-header__title {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--just-white);
}

.features-header__subtitle {
    margin-top: 24px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #808080;
}

.features-list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-top: 32px;
    padding-bottom: 15px;
    max-width: 280px;
}

.feature-card {
    padding: 14px 16px;
    border-radius: 4px;
    background-color: var(--warm-black-1);
    box-shadow: 1px 2px 2px #2c2c2c;
}

.feature-card__icon {
    width: 24px;
    height: 24px;
    padding: 5px 15px 5px 10px;
    background-repeat: no-repeat;
    background-position: center;
}

.feature-card__icon--clock {
    background-image: url('/assets/icons/clock-1.svg');
}

.feature-card__icon--eye {
    background-image: url('/assets/icons/eye-1.svg');
}

.feature-card__icon--dollar {
    background-image: url('/assets/icons/dollar-sign-1.svg');
}

.feature-card__icon--check {
    background-image: url('/assets/icons/check-circle-1.svg');
}

.feature-card__title {
    margin: 10px 0;
    color: var(--just-white);
    font-size: 1.6rem;
    line-height: 1.8rem;
}

.feature-card__description {
    color: #808080;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.features-background {
    width: 100%;
    height: 387px;
    max-height: 387px;
    background-image: url('/assets/images/bitcoinbaby-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.features-background__title {
    margin-top: 70px;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--just-white);
}